@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  font-weight: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.bubble-chart {
  display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden;
}
/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: 100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: 50%;
  }
}

@keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: -100%;
  }
}

@-webkit-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

@-moz-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

@keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: -5%;
top: 5%;

-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 5%;
top: 80%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 10%;
top: 40%;

-webkit-transform: scale(0.7);
-moz-transform: scale(0.7);
transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 20%;
top: 0;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 30%;
top: 50%;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 50%;
top: 0;

-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 65%;
top: 70%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 80%;
top: 10%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 90%;
top: 50%;

-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 80%;
top: 80%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x11 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 80%;
top: 90%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background-color: rgba(50, 255, 53, 0.106);

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(50 255 52);
-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(50 255 52);
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(50 255 52);

  height: 400px;
position: absolute;
width: 400px;
}

.bubble-negative {
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background-color: rgba(255, 50, 50, 0.272);

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(187, 68, 68);
-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(187, 68, 68);
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(187, 68, 68);

  height: 400px;
position: absolute;
width: 400px;
}

.bubble:hover {
  border: 3px solid #FFF;
  cursor: pointer;
}

.bubble-negative:hover {
  border: 3px solid #FFF;
  cursor: pointer;
}

.bubble-chart-header {
  display: flex;
  padding: 0 0.5em;
  align-items: center;
}

.configuration-tabs {
  display: flex;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.tab {
  transition-property: background-color,transform,opacity,border-color;
  transition-duration: .4s;
  border: solid transparent 0.1em;
  border-top: none;
  padding: 0.4em;
  margin-right: 0.5em;
  white-space: nowrap;
  user-select: none;
  flex-shrink: 0;
  background-color: #444;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transform-origin: top center;
  border-color: rgb(51, 255, 51);
  color: #FFF;
  font: 20px Verdana,Arial,sans-serif;
}

.tab:hover {
  background-color:rgba(255,255,255,.25); 
  cursor: pointer;
}
.tab:focus-visible {
  background-color:rgba(255,255,255,.25)
}
.tab.selected {
  background-color:#09f
}
.tab.drop {
  transform:scale(.9)
}
.tab.drag {
  opacity:.5;transform:scale(.9)
}
.window {
  box-shadow:0 2px 8px rgba(0,0,0,.2);
  border-radius:12px;
  background-color:rgba(68,68,68,.98)
}
@supports (backdrop-filter: blur(8px)){.window{background-color:rgba(68,68,68,.9);backdrop-filter:blur(8px)}}
.window header {
  box-shadow:0 2px 8px rgba(0,0,0,.2);
  border-radius:12px;
  background-color:rgba(255,255,255,.08);
  padding:.5em;
  display:flex;
  gap:.25em;
  align-items:center
}
.window .expand-button svg {
  transition:transform .4s
}
.window .expand-button.expanded svg {
  transform:rotate(90deg)
}
.bubble-chart-header>.icon-button {
  margin-left: 0.25em;
}
.icon-button {
  border-radius: 50%;
  transition: background-color .4s;
  padding: 10px;
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: inline-block;
  box-sizing: content-box;
}

.icon-button.border {
  border: solid 1px #777;
  padding: 6px;
}

.icon-button:hover {
  background-color:rgba(255,255,255,.15); 
  cursor: pointer;
}
.icon-button:focus-visible {
  background-color:rgba(255,255,255,.15)
}
.icon-button.active {
  color:#09f
}
.icon-button.active.border {
  border-color:#09f;
  background-color:rgba(255,255,255,.15)
}

svg {
  fill: #FFF;
  pointer-events: none;
}